
li{
    list-style: none;
}

.tarea{
    font-size: 26px;
    color: #001610;
    line-height: 1.5;
    margin: 15px;

}

.tarea-through{
    text-decoration: line-through;
}

.container-tarea-checked{
    width: 100%; 
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.container-tarea-checked-initial{
    display: flex;
    align-items: center;
    width: 360px;
}

.container-text{
    
    word-break: break-all; 
}

/* ------------------------------------- */


@media (max-width: 425px) and (min-width: 320px) {
    .container-tarea-checked-initial{
        display: flex;
        align-items: center;
        width: 339px;
        justify-content: center;
    }

    .container-tarea-checked {
        width: 70%;
        
    }

    .tarea{
        font-size: 15px;
        color: #001610;
        line-height: 1.5;
        margin: 0;
    
    }
}
