.container-page{
    width: 100%;
    max-width: 1200px;
    padding: 30px; 
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    position: relative;
    margin-bottom: 100px;

}
.container-page-main{
    width: 100%;
}
/* ----------------------------------------- */

@media (max-width: 425px) and (min-width: 320px) {
    .container-page {
        width: 70%;
    }
}




