* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
   
  height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, #00454d, #ffd25a); 
  background-size: 200% 1%; 
  animation: waveAnimation 4s linear infinite; 
}

@keyframes waveAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
