.TodosError{
    padding: 20px;
   
    background-color: #00454d;

    color: #e86726;
    border: 2px solid #e86726;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;

}