.titulo {
    font-weight: 400;
    font-Size: 24px;
    text-align: center;
    margin: 0;
    padding: 70px;
    padding-top: 0px;
    
}
.container-titulo {
    width: 327px;
    height: 58px;
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.numeronegrilla{
    font-weight: 700px;
    font-Size: 24px;
    text-align:center;
    margin: 0;
   
}